{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true,
    "describe": true,
    "it": true,
    "beforeEach": true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "comma-dangle": 0,
    "jsx-quotes": [2, "prefer-double"]
  }
}
